 canvas {
     border: 1px solid;
     margin: 20px;
 }
 
 #select-dropdown {
     display: inline-block;
 }
 
 .canvas-container {
     display: inline-block;
     margin: 20px;
 }
 
 .upper-canvas {
     position: relative!important;
 }